<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Prism.Core" version="6.3.0" targetFramework="xamarinios10" />
  <package id="Prism.Forms" version="6.3.0" targetFramework="xamarinios10" />
  <!--#if AutofacContainer -->
  <package id="Autofac" version="3.5.2" targetFramework="xamarinios10" />
  <package id="Prism.Autofac.Forms" version="6.3.0" targetFramework="xamarinios10" />
  <!--#elseif DryIocContainer -->
  <package id="Prism.DryIoc.Forms" version="6.3.0.1" targetFramework="xamarinios10" />
  <package id="DryIoc.dll" version="2.10.1" targetFramework="xamarinios10" />
  <package id="System.Collections" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Linq" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading" version="4.3.0" targetFramework="xamarinios10" />
  <!--#elseif NinjectContainer -->
  <package id="Prism.Ninject.Forms" version="6.3.0" targetFramework="xamarinios10" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="xamarinios10" />
  <!--#else -->
  <package id="Prism.Unity.Forms" version="6.3.0" targetFramework="xamarinios10" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="xamarinios10" />
  <package id="Unity" version="4.0.1" targetFramework="xamarinios10" />
  <!--#endif -->
  <!--#if UseMobileCenter -->
  <package id="Microsoft.Azure.Mobile" version="0.10.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Analytics" version="0.10.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Crashes" version="0.10.0" targetFramework="xamarinios10" />
  <!--#endif -->
  <!--#if UseMvvmHelpers -->
  <package id="Refractored.MvvmHelpers" version="1.2.2" targetFramework="xamarinios10" />
  <!--#endif -->
  <package id="Xamarin.Forms" version="2.3.4.231" targetFramework="xamarinios10" />
  <package id="Xamarin.TestCloud.Agent" version="0.20.3" targetFramework="xamarinios10" />
</packages>